@charset "UTF-8";
@font-face {font-family: 'idroid'; src: url('../fonte/idroid.otf') format('opentype');}
/* * { margin: 0px; padding: 0px } */
:root {--fontpadrao: 'Courier New', Courier, monospace; --fontdroid: 'idroid';
        --fontarial: Arial, Helvetica, sans-serif; --fontfooter: Verdana, Geneva, Tahoma, sans-serif;
        --cor1: green; --cor2: white; --cor3: greenyellow; --cor4: yellow; --cor5: black}

body {background-color: rgb(221, 208, 208); margin: 0px;}
.linkexterno::after {content: '\00A0\1F517';}

/* CABEÇALHO */
header {background-color: var(--cor1); color: var(--cor2); font-family: var(--fontarial);
        min-height: 150px; text-align: center; padding-top: 40px;}
h1 {text-shadow: 4px 4px 2px black; margin-top: 0px;} 
#slogan {font-weight: bold; margin-top: 10px; margin-bottom: 0px; padding-bottom: 30px;}

/* MENU */
nav {background-color: var(--cor1); font-family: var(--fontarial); padding-bottom: 5px;} 
nav a {color: var(--cor3); margin: 20px; text-decoration: none; font-weight: bold;}
nav a:hover {background-color: var(--cor3); color: var(--cor1); padding: 5px;}

/* CONTEÚDO */
main {font-family: var(--fontpadrao);}
h2 {font-family: var(--fontdroid) ; font-size: 2em}
h3 {font-family: var(--fontdroid); font-size: 1.5em; color: var(--cor1); background-color: var(--cor3);}

/* RODAPÉ */
footer {background-color: var(--cor1); color: var(--cor2); font-family: var(--fontfooter); padding: 20px 0;}
footer a {color: var(--cor4); text-decoration: none;}
footer a:hover {text-decoration: underline;}

footer div {display: flex; justify-content: center; align-items: center; height: 25px;}
#paragrafo3 {display: none;}
#paragrafo4 {display: none;}

@media (max-width: 850px) {
  #paragrafo2 {display: none;}
  #paragrafo3 {display: block;}
  #paragrafo3 div {display: flex; justify-content: center;}
  footer {padding-bottom: 50px;}
}

@media (max-width: 600px) {
  footer {font-size: .7em;}
}

@media (max-width: 410px) {
  #paragrafo1 {display: block; text-align: center;}
  #paragrafo1 .espaço {display: none;}
  #paragrafo3 {display: none;}
  #paragrafo4 {display: block;}
  #paragrafo4 div {display: flex; justify-content: center;}
}
